html {
  font-family: sans-serif;
}

/* Your CSS below here */

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

p {
  width: 200px;
  line-height: 3;
  text-align: center;
  font-size: 1.125rem; /* 18px = 16px * 1.125 */
  color: #c66;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  border: 1px solid #733;
  background-image: linear-gradient(
    to top left,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0) 30%,
    rgba(0,0,0,0) 70%,
    rgba(255,255,255,0.2)
  );
  background-color: #c66;
  box-shadow: 3px 3px 4px #000,
              inset 3px 3px rgba(255,255,255,0.2),
              inset -3px -3px rgba(0,0,0,0.2);
}
